
.homeContainer {
    display: grid;
}

.btn {
    width: 200px;
    background-color: rgb(29, 122, 0);
    color: white;
    padding: 10px 20px;
    margin-top: 2rem;
    height: 2.8rem;
    border-radius: 35px;
    font-size: 20px;
}

.btn:hover {
    background-color: #00B812;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slideContainer {
    display: grid;
    justify-items: center;
}

.textSlide {
    margin-left: 10rem;
    margin-top: 12rem;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

p {
    margin-top: 1rem;
}

.imgg {
    background-image: url('../../imagens/mouse.png');
    background-size: cover;
    width: 95%;
    height: 33rem;
    margin: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/* Início do SOBRE NÓS*/

/* @media (max-width: 1300px){
 .sobreContainer
} */

.sobreContainer {
    display: grid;
    grid-template-columns: 500px 1fr;
    padding: 1.5rem;

}

.sobre {
    position: relative;
    padding: 6rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.titulo1 {
    font-size: 28px;
    color: #008037;
}

.pSobre {
    color: #A60000;
    font-size: 18px;
}


.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* Início do "Por que nos escolher?"*/
.pick {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

}

.containerPick {
    padding: 2rem;
    display: grid;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: #008037;
}

.titulo2 {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.office {
    width: 45rem;
    height: 20rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.boxContent {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

}

.box {
    width: 13rem;
    background-color: #79be7d;
    border: 1px solid green;
    color: #6b3101;
    margin: 0.5rem;
    height: 2.5rem;
    display: grid;
    text-align: center;
}

.box h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descricao {
    background-color: rgb(251, 251, 252);
    font-size: 18px;
}

@media (max-width: 1300px) {
    .sobreContainer {
        grid-template-columns: 1fr;
    }.descricao{
        font-size: 25px;
    }
    .pick{
        height: 55rem;
    }
    .texto{
        font-size: 25px;
    }
    
}

@media (max-width: 1000px) {
    
    .pick{
        height: 55rem;
    }
    
}

